*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0;
	height: 100%;
	padding: 0;
	width: 100%;
	font-family: "proxima-nova-1","proxima-nova-2","proxima-nova",Helvetica,Arial,sans-serif;
	font-size: 18px;
	background: #f8f1f4;
	color: #383839;
}

.lt-ie10 .without-footer {
	position: relative;
}

.without-footer {
	min-height: 100%;
}

.hide-nav {
	padding: 110px 20px 20px 20px;
}

.l-header {
	background: #ed2273;
	box-shadow: 0 2px 6px 0 rgba(128,128,128,0.5);
	height: 80px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}

.l-header h1 {
	float: left;
	margin: 27px 0 23px 24px;
}

.l-header h1 a {
	display: block;
	height: 30px;
	width: 120px;
	background: url("../images/logo.png") left top no-repeat;
	text-indent: -9999px;
}

.outer-grid {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.outer-grid::after {
	content: "";
	display: table;
	clear: both;
}

.page-title {
	font-size: 1.944em;
	line-height: 1;
	font-weight: 300;
	font-family: "proxima-nova-1","proxima-nova-2","proxima-nova",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0 0 .8em .05714em;
}

.box {
	background: #fff;
	box-shadow: 1px 1px 3px #e6e0e3;
	display: block;
	margin:0 0 1.11111em 0
}

.box::after {
	content: "";
	display: table;
	clear: both;
}

.inner-grid {
	max-width: 910px;
	margin-left: auto;
	margin-right: auto;
}

.box-content {
	padding-bottom: 1.38889em;
	padding-top: 1.38889em;
	display: block;
}

.box-content::after {
	content: "";
	display: table;
	clear: both;
}

.maintenance {
	background: url("../images/jenny_c.png") left top no-repeat;
	float: left;
	padding: 0 10% 0 20%;
	width: 100%;
}

h3 {
	font-size: 1.167em;
	line-height: 1.285;
	font-weight: 600;
	font-family: "proxima-nova-1","proxima-nova-2","proxima-nova",Helvetica,Arial,sans-serif;
	padding: .38095em 0 .7619em 0;
}

p {
	font-size: 1em;
	line-height: 1.333;
	font-weight: 300;
	font-family: "proxima-nova-1","proxima-nova-2","proxima-nova",Helvetica,Arial,sans-serif;
	padding: 0 0 1em 0;
}

p a {
	color: #ED2273;
	text-decoration: underline;
}

.submit {
	clear: both;
	padding-top: 6px;
}

.button {
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	font-size: 21px;
	line-height: 21px;
	font-weight: 300;
	padding: 10px 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: background-color .1s;
	-moz-transition: background-color .1s;
	transition: background-color .1s;
}

.primary-button {
	background-color: #68bc54;
	border-color: #6eb456;
	color: #fff;
}


@media screen and (min-width:569px) and (max-width:1059px) {
	html, body {
		font-size: 16px;
	}
	.outer-grid {
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}
	.outer-grid:after {
		content: "";
		display: table;
		clear: both;
	}
	.inner-grid {
		max-width: 610px;
		margin-left: auto;
		margin-right: auto;
	}

	.maintenance {
		padding: 0 0 0 25%;
	}

	.inner-grid:after {
		content: "";
		display: table;
		clear: both;
	}
	.page-title {
		font-size: 1.75em;
		line-height: 1.071;
		font-weight: 300;
		font-family: "proxima-nova-1", "proxima-nova-2", "proxima-nova", Helvetica, Arial, sans-serif;
	}
}

@media screen and (min-width:320px) and (max-width:568px) {
	html, body {
		font-size: 14px;
	}
	.hide-nav {
		padding:74px 0 0 0;
	}
	.outer-grid {
		max-width: 310px;
		margin-left: auto;
		margin-right: auto;
	}
	.outer-grid:after {
		content: "";
		display: table;
		clear: both;
	}
	.inner-grid {
		max-width: 296px;
		margin-left: auto;
		margin-right: auto;
	}

	.inner-grid:after {
		content: "";
		display: table;
		clear: both;
	}

	.maintenance {
		background: none;
		padding: 0;
	}

	.page-title {
		font-size: 1.75em;
		line-height: 1.071;
		font-weight: 300;
		font-family: "proxima-nova-1", "proxima-nova-2", "proxima-nova", Helvetica, Arial, sans-serif;
	}
	.button {
		font-size: 15px;
		line-height: 15px;
		padding: 8px 0;
	}
	.primary-button {
		width: 100%;
	}
	.l-header {
		height: 54px;
	}
	.l-header h1 {
		margin: 15px 0 14px 67px;
	}
	.l-header h1>a, .l-header h1>span {
		height: 25px;
		width: 100px;
		background-size: 100px 25px;
	}
	.box-content {
		padding-bottom: .71429em;
		padding-top: .71429em;
	}
}